
#imageArtist{
    height: 500px;
    width: 500px;
}
#divFirst{
    height: auto;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aboutBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  
}
.aboutBoxImage{
    width: 50%;
    height: 100%;
    
}

.aboutBoxContent{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .aboutBox {
      flex-direction: column;
    }
    .aboutBoxImage{
        width: 80%;
    }
    .aboutBoxContent{
        width: 80%;
    }
  }
  #aboutBoxContentImage{
    height: 500px;
    width: 100%;
  }
.footer{
    height: auto;
    width: auto;
    background-color: #4abdac;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer1{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer2{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer3{
    height: 400px;
}
#footerIcon{
    font-size: 30px;
}
#footerMap{
    height: 400px;
    width: 102%;
}
